.env
.env.testing
.idea
.php_cs.cache
.phpunit.result.cache
.vscode
.vagrant
*.hot
/stubs
/data
/docker-compose-collection
Homestead.json
Homestead.yaml
/ignorables/*
/node_modules
npm-debug.log
package-lock.json
/playwright-reportgi
/public/videos
public/videos
/public/videos/*.mp4
public/videos/*.mp4
# /public/css
# /public/js
# /public/hot
# /public/storage
# /public/vendor
/lang/vendor
# /storage/*.key
# /storage/dcc-data/
/test-results
# /vendor
yarn.lock
yarn-error.log
